*{
    margin: 0px;
    padding: 0px;
}
#navigation{
    width: 100%;
    background-color: lightblue;
    padding: 25px 0px;
    overflow: hidden;
    position:fixed;
	z-index:1000;
}
.logo{
    width: 35%;
    float: left;
    text-align: center;
}
.logo a{
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    border: 5px solid black;
    padding: 10px;
    border-radius: 8px;
}
.menu{
    width: 65%;
    float: left;
    text-align: center;
}
nav ul li{
    list-style: none;
    display: inline-block ;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
    border: 2px solid black;
    padding: 7px 15px;
    border-radius: 10px 20px;
}
#home{
    width: 100%;
    height: 50%;
    
    z-index:1000;
    
}
.div1 img{
    width: 25%;
    float: left;
    margin-bottom: 30px;

}
.div2 img{
    width: 25%;
    float: left;
    margin-top: 140px ;

}
#home2 {
    width: 100%;
    height: 50%;
    
    z-index:1000;
   
}
.div3 img{
    width: 25%;
    float: left;
    margin-top: 50px;

}
.div4 img{
    width: 25%;
    float: left;
    margin-top: 70px;
    

}

#regform{
    background-color: lightcyan;
    padding: 500px;
    margin-top: 100px;
}

#login{
    background-color: beige;
    padding: 300px;
}